//mixin
@mixin rotate($angl)
  -ms-transform: rotate($angl)
  -webkit-transform: rotate($angl)
  transform: rotate($angl)
@mixin keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content

  @-moz-keyframes #{$animation-name}
    @content

  @-ms-keyframes #{$animation-name}
    @content

  @-o-keyframes #{$animation-name}
    @content

  @keyframes #{$animation-name}
    @content

@mixin animation($str)
  -webkit-animation: #{$str}
  -moz-animation: #{$str}
  -ms-animation: #{$str}
  -o-animation: #{$str}
  animation: #{$str}

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

@mixin gradient45degr($color1, $start, $color2, $midle, $color3, $end)
  background: -moz-linear-gradient(-45deg, $color1 $start, $color2 $midle, $color3 $end)
  background: -webkit-gradient(left top, right bottom, color-stop($start, $color1), color-stop($midle, $color2), color-stop($end, $color3))
  background: -webkit-linear-gradient(-45deg, $color1 $start, $color2 $midle, $color3 $end)
  background: -o-linear-gradient(-45deg, $color1 $start, $color2 $midle, $color3 $end)
  background: -ms-linear-gradient(-45deg, $color1 $start, $color2 $midle, $color3 $end)
  background: linear-gradient(135deg, $color1 $start, $color2 $midle, $color3 $end)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#d2f7f5', GradientType=1 )
  background-repeat: no-repeat

@mixin backgroundPosition($arg1, $arg2)
  background-position: $arg1 $arg2

@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition

@mixin transition-property($property...)
  -moz-transition-property:    $property
  -o-transition-property:      $property
  -webkit-transition-property: $property
  transition-property:         $property
//mixin End

body
  padding: 0
  margin: 0
  margin-bottom: 30px
  //@include gradient45degr(rgb(192, 189, 188), 0%, rgb(255, 253, 241), 0%, rgb(157, 157, 141), 100%)
  //@include animation('lite 1s cubic-bezier(1, 1.01, .01, .03) infinite')


@include keyframes(lite)
  0%
    left: -5px
    content: '<'
  50%
    left: -20px
    content: '<<'
  100%
    left: -30px
    content: '<<<'
@include keyframes(gotu)
  0%
    left: -5px
    content: '<'
  50%
    left: -20px
    content: '<<'
  100%
    left: -30px
    content: '<<<'
.sidebar
  width: 150px
  height: 100%
  display: inline-block
  vertical-align: top
  img
    width: 100%
.content
  width: 1200px
  margin: auto
section
  display: inline-block
  vertical-align: top
  width: 1040px
  h1
    color: #6A8A8E
    display: block
    width: 100%
    border-bottom: 2px solid #d2f7f5
    text-align: center
    font-size: 28px
    line-height: 32px
    position: relative
    cursor: pointer
    &.back:before
      content: '<'
      display: inline-block
      position: relative
      height: 30px
      width: 30px
      font-size: 30px
      top: 2px
      left: -5px

  .back:hover
    &:before
      @include animation('gotu .8s linear 1')
      left: -30px
      content: '<<<'
  .contentApp
    button
      display: block
      height: 60px
      width: 350px
      text-align: center
      font-size: 28px
      border: none
      border-radius: 5px
      margin: 5px auto 0
      cursor: pointer
      outline: none
      color: #6A8A8E
      @include gradient45degr(rgba(250,250,250,.5), 0%, rgba(210,247,245,.5), 50%, rgba(250,250,250,.5), 100%)
      background-size: 200% 200%
      @include backgroundPosition(100%, 50%)
      @include transition( background-position .4s, box-shadow .4s)
      &:hover
        @include backgroundPosition(0%, 0%)
        box-shadow: 0 6px 9px -1px rgba(134, 201, 225,.3)
navigation
  width: 800px
  height: auto
  display: inline-block
  vertical-align: top

news
  width: 200px
  height: auto
  //border-left: 2px solid black
  display: inline-block
  vertical-align: top
  h2
    color: #6A8A8E
    border-bottom: 1px solid #d2f7f5
    width: 95%
    text-align: center
    font-size: 18px
    line-height: 20px
    margin: auto
  .type
    text-align: left
    text-decoration: underline
    color: #6A8A8E
    font-size: 16px
    padding-top: 4px
    padding-left: 7px
    &+ a
      min-height: 30px
      width: 90%
      display: block
      position: relative
      text-align: left
      margin: 0 0 0 10px
      padding: 5px 0 0 5px
      text-decoration: none
      color: #6A8A8E
      overflow: hidden
      border-radius: 5px 0 5px 5px
      line-height: 21px
      @include gradient45degr(rgba(250,250,250,.5), 0%, rgba(210,247,245,.5), 50%, rgba(250,250,250,.5), 100%)
      background-size: 200% 200%
      @include backgroundPosition(100%, 50%)
      @include transition( background-position .4s, box-shadow .4s)
      &:hover
        @include backgroundPosition(0%, 0%)
        box-shadow: 0 6px 9px -1px rgba(134, 201, 225,.3)
    &+.new:after
      content: 'new'
      position: absolute
      text-align: center
      top: 11px
      right: -17px
      background: #ffee00
      height: 14px
      width: 70px
      font-size: 12px
      line-height: 12px
      color: #000
      @include rotate(-45deg)
mywork
  width: 100%
  .type
    margin-top: 20px
    color: #6A8A8E
    border-bottom: 1px solid #d2f7f5
    text-align: left
    font-size: 24px
    line-height: 28px
    position: relative
    cursor: pointer
  .element
    position: relative
    display: inline-block
    vertical-align: top
    height: 180px
    width: 180px
    background-color: #6A8A8E
    margin-right: 10px
    margin-top: 10px
    text-decoration: none
    color: #6A8A8E
    cursor: pointer
    overflow: hidden
    @include gradient45degr(rgba(250,250,250,.5), 0%, rgba(210,247,245,.5), 50%, rgba(250,250,250,.5), 100%)
    background-size: 200% 200%
    @include backgroundPosition(100%, 50%)
    @include transition( background-position .4s, box-shadow .4s)
    &:hover
      @include backgroundPosition(0%, 0%)
      box-shadow: 0 6px 9px -1px rgba(134, 201, 225,.3)
    &:before
      content: ''
      position: relative
      display: inline-block
      height: 100%
      vertical-align: middle
      width: 0
    .nameOf
      display: inline-block
      position: relative
      vertical-align: middle
      padding: 0
      margin: 0
      width: 96%
      word-break: break-all
      text-align: center
    &.new:after
      content: 'new'
      position: absolute
      text-align: center
      bottom: 11px
      right: -17px
      background: #ffee00
      height: 16px
      width: 70px
      font-size: 14px
      line-height: 14px
      color: #000
      @include rotate(-45deg)




