<div class="type">Web<span class="icon-kudosLike"></span></div>
<a data-ng-repeat="elem in list.web" href="#" data-ng-href="{{elem.link}}" class="element" data-ng-class="elem.new?'new':''" data-ng-show="elem.show">
    <div class="nameOf">{{elem.name}}</div>
</a>
<!--<a href="#" class="element">
    <div class="nameOf">Calculator2</div>
</a>
<a href="#" class="element new">
    <div class="nameOf">Calculator3</div>
</a>
<a href="#" class="element">
    <div class="nameOf">Calculator4</div>
</a>
<a href="#" class="element new">
    <div class="nameOf">Calculator5</div>
</a>-->
<div class="type">Ingenearing</div>
<a data-ng-repeat="elem in list.ing" href="#" data-ng-href="{{elem.link}}" class="element" data-ng-class="elem.new?'new':''" data-ng-show="elem.show">
    <div class="nameOf">{{elem.name}}</div>
</a>
<!--<a href="#" class="element">
    <div class="nameOf">Calculator2</div>
</a>
<a href="#" class="element">
    <div class="nameOf">Calculator3</div>
</a>
<a href="#" class="element">
    <div class="nameOf">Calculator4</div>
</a>
<a href="#" class="element">
    <div class="nameOf">Calculator5</div>
</a>-->
